.requester {
  text-align: center;
  background-color: #fff;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  border-radius: 2%;
}

.form {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: none;
  font-size: 50%;
  * {
    margin-left: 0.5em;
  }
}

.attendeeLink {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -0.5em;
}

.presenterLink {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: small;
}
