@mixin slide-mixin {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (3 / 4) * 100%;
  }
  :global(> .canvas) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin viewer-mixin {
  @media all and (max-aspect-ratio: 4/3) {
    .attendee {
      width: 100vw;
      font-size: 3vw;
      height: calc(100vw * 0.75);
      position: absolute;
      margin-top: calc(50vh - (100vw * 0.375));
    }
  }

  @media not all and (max-aspect-ratio: 4/3) {
    .attendee {
      width: calc(100vh * 1.333333333333);
      height: 100vh;
      font-size: 2vw;
      margin: 0 auto;
    }
  }
}
