@mixin slide-mixin {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (9 / 16) * 100%;
  }
  :global(> .canvas) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin viewer-mixin {
  @media all and (max-aspect-ratio: 16/9) {
    .attendee {
      width: 100vw;
      font-size: 5vw;
      height: calc(100vw * 0.5625);
      position: absolute;
      margin-top: calc(50vh - (100vw * 0.28125));
    }
  }

  @media not all and (max-aspect-ratio: 16/9) {
    .attendee {
      width: calc(100vh * 1.77777777777778);
      height: 100vh;
      font-size: 8.8888888888889vh;
      margin: 0 auto;
    }
  }
}
