.messageFormInputs {
  width: 100%;
  height: 2em;
  display: flex;
}

#nickButton {
  flex-basis: 17%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.2em;
}

#messageForm {
  display: flex;
  flex-basis: 83%;
}

#messageInput {
  flex-basis: 85%;
}

#messageSendButton {
  flex-basis: 15%;
  flex-grow: 0;
  flex-shrink: 0;
}
