#nickForm {
  width: 100%;
  height: 2em;
  display: flex;
}
#nickInput {
  flex-basis: 80%;
}

#nickSetButton {
  flex-basis: 20%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2em;
}
