#presenterOverlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30vw;
  font-size: 30%;
  background-color: #fff;
  color: #000;
  border-left: 1px solid #000;
}
