@charset "UTF-8";
.markdown p {
  margin: 0.5em;
}
.markdown h1 {
  margin: 0.15em;
}
.markdown h2 {
  margin: 0.175em;
}
.markdown h3 {
  margin: 0.2em;
}
.markdown h4 {
  margin: 0.25em;
}
.markdown h5 {
  margin: 0.3em;
}
.markdown h6 {
  margin: 0.375em;
}
.markdown ol {
  display: table;
  margin: 0.5em auto;
  max-width: 90%;
  text-align: left;
  list-style-type: decimal;
  list-style-position: inside;
}
.markdown ol > li {
  text-indent: -1em;
  margin-left: 1em;
}
.markdown ul {
  display: table;
  margin: 0.5em auto;
  max-width: 90%;
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
}
.markdown ul > li {
  text-indent: -1em;
  margin-left: 1em;
}
.markdown dl {
  display: table;
  margin: 0.5em auto;
  max-width: 90%;
  text-align: left;
}
.markdown dl dt {
  margin-bottom: 0.5em;
}
.markdown dl dd {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-left: 2em;
  text-indent: -1em;
}
.markdown dl dd.no-indent {
  margin-left: 1em;
  text-indent: 0;
}
.markdown label {
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: none;
}
.markdown figure {
  display: inline-block;
}
.markdown figure > img {
  max-width: 100%;
  box-shadow: 0 0 0.2em #aaa;
}
.markdown figure > figcaption {
  font-size: 50%;
  margin-top: 0.25em;
}
.markdown figure > figcaption > p {
  margin-bottom: 0;
}
.markdown blockquote {
  quotes: "“" "”" "‘" "’";
  margin: 0 1em;
}
.markdown blockquote:before {
  content: open-quote;
  font-size: 700%;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0.025em;
}
.markdown blockquote:after {
  content: close-quote;
  font-size: 700%;
  opacity: 0.2;
  position: absolute;
  margin-right: 0.025em;
  margin-bottom: -0.6em;
  bottom: 0;
  right: 0;
}
.markdown cite {
  display: block;
  text-align: left;
  text-indent: -1em;
  margin-top: 2em;
  margin-left: 50%;
  font-size: 50%;
}
.markdown cite:before {
  content: "—";
}
.markdown table {
  margin: 0 auto;
}
.markdown table th {
  background-color: #ccc;
  padding: 0.1em 0.25em;
  border: 1px solid #000;
}
.markdown table td {
  padding: 0.1em 0.25em;
  border: 1px solid #000;
}
