.title-slide .markdown ul {
  list-style: none;
  font-size: 70%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  max-width: inherit;
  text-align: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-slide .markdown ul > li {
  text-align: center;
  margin: 0.5em;
  margin-bottom: 0;
  text-indent: 0;
}
