.markdown {

  p {
    margin: 0.5em;
  }

  h1 {
    margin: 0.15em;
  }

  h2 {
    margin: 0.175em;
  }

  h3 {
    margin: 0.2em;
  }

  h4 {
    margin: 0.25em;
  }

  h5 {
    margin: 0.3em;
  }

  h6 {
    margin: 0.375em;
  }

  ol {
    display: table;
    margin: 0.5em auto;
    max-width: 90%;
    text-align: left;
    list-style-type: decimal;
    list-style-position: inside;
    > li {
      text-indent: -1em;
      margin-left: 1em;
    }
  }

  ul {
    display: table;
    margin: 0.5em auto;
    max-width: 90%;
    text-align: left;
    list-style-type: disc;
    list-style-position: inside;
    > li {
      text-indent: -1em;
      margin-left: 1em;
    }
  }

  dl {
    display: table;
    margin: 0.5em auto;
    max-width: 90%;
    text-align: left;
    dt {
      margin-bottom: 0.5em;
    }
    dd {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
      margin-left: 2em;
      text-indent: -1em;
      &:global(.no-indent) {
        margin-left: 1em;
        text-indent: 0;
      }
    }
  }

  label {
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: none;
  }

  figure {
    display: inline-block;
    > img {
      max-width: 100%;
      box-shadow: 0 0 0.2em #aaa;
    }
    > figcaption {
      font-size: 50%;
      margin-top: 0.25em;
      > p {
        margin-bottom: 0;
      }
    }
  }

  blockquote {
    quotes: "\201C""\201D""\2018""\2019";
    margin: 0 1em;
    &:before {
      content: open-quote;
      font-size: 700%;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 0.025em;
    }
    &:after {
      content: close-quote;
      font-size: 700%;
      opacity: 0.2;
      position: absolute;
      margin-right: 0.025em;
      margin-bottom: -0.6em;
      bottom: 0;
      right: 0;
    }
  }

  cite {
    display: block;
    text-align: left;
    text-indent: -1em;
    margin-top: 2em;
    margin-left: 50%;
    font-size: 50%;
    &:before {
      content: "\2014 ";
    }
  }

  table {
    margin: 0 auto;

    th {
      background-color: #ccc;
      padding: 0.1em 0.25em;
      border: 1px solid #000;
    }

    td {
      padding: 0.1em 0.25em;
      border: 1px solid #000;
    }
  }

}
