@import "aspect-ratio";

:global .slide {
  @include slide-mixin;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #fff;
  color: #000;

  > .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }

  > .canvas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    > .content {
      flex-grow: 0;
      flex-shrink: 0;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: text-shadow 0.25s ease-out;
    &:hover {
      text-shadow: 0.05em 0.05em 0.1em #333;
    }
  }

  img {
    vertical-align: middle;
    object-fit: contain;
  }

  &.dark {
    background-color: #000;
    color: #fff;
  }

  &.light {
    background-color: #fff;
    color: #000;
  }

  // Markdown styles need to target specific children, or they will bleed into
  // child SlideContainers on Fork slides.

  &.shadow > .canvas {
    > .content.markdown,
    > .content > .markdown {
      h1, h2, h3, h4, h5, h6 {
        text-shadow: 0 0 0.1em #333;
      }
    }
  }
  &.font-75 > .canvas {
    > .content.markdown,
    > .content > .markdown {
      font-size: 75%;
    }
  }
  &.font-50 > .canvas {
    > .content.markdown,
    > .content > .markdown {
      font-size: 50%;
    }
  }

}
