.connections {
  flex-grow: 0;
  flex-shrink: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0.5em 0;
  > dt {
    display: inline-block;
    margin-left: 1em;
    font-weight: bold;
  }
  > dd {
    margin-left: 0.25em;
    display: inline-block;
  }
}
